/* @charset "utf-8"; */
body {
  margin: 0;
  margin-right: auto;
  margin-left : auto;
  font-family: Verdana, sans-serif;
  color: #333;
}

/* header */
header {
  /* width:auto; */
  background-color: #efefef;
}

.container {
  width: 400px;
  height: 100px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  /* text-align: center; */

}

.icon img {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
}

.info {
  background-color: #efefef;
}

.info h1 {
  font-size: 18px;
}

.info p {
  font-size: 12px;
  margin-left: 10px;
}

/* section */
/* section {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: tomato;
} */

.result {
  font-size: 14px;
  /* width: 400px; */
  /* margin-left: auto;
  margin-right: auto; */
}

.result h1 {
  margin: 0;
  margin-top: 10px;
  margin-left: 30px;
  font-size: 12px;
  font-weight: normal;
}

ul {
  margin: 0%;
  /* list-style-type: none; */
  list-style-image: url('../img/work1_s.png');
  color: blue;
  font-size: 14px;
}

.main {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.main p {
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
}

.syosu {
  margin-top: 10px;
  margin-left: 60px;
  font-size: 10px;
}

form {
  margin-left: 20px;
}

button {
  font-size: 14px;
  margin-left: 15px;
}

input {
  font-size: 16px;
  transform: scale(0.8); /* iPhoneで画面ズームしない*/
}

.link {
  margin: 0;
  margin: 60px auto 20px;
  text-align: center;
  font-size: 12px;
  color: #eee;
}

a {
  text-decoration: none;
}

/* footer */
footer {
  padding: 60px 0px;
  text-align: center;
  font-size: 14px;
  background-color: #333;
  color: gray;
}

/* @media (min-width:900px) {
  header {
    width: 800px;
  }
} */