/* @charset "utf-8"; */
body {
  margin: 0;
  font-family: Verdana, sans-serif;
  color: #333;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #efefef;
  display: flex;
}

header h1,
header p {
  margin: 0;
}

header img {
  padding: 10px;
  width: 60px;
  height: 60px;
}

header h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

header p {
  margin-left: 10px;
}

.info {
  padding: 10px 0;
  padding-bottom: auto;
}

section {
  margin-left: 10px;
}

p {
  font-size: 14px;
}

button {
  font-size: 12px;
}

ul {
  list-style-image: url(../img/work1.png);
}

footer {
  margin-top:60px;
  padding: 60px;
  text-align: center;
  font-size: 14px;
  background-color: #333;
  color: gray;
}