/* @charset "utf-8"; */

body {
  margin: 0;
  font-size: 12px;
  /* font-family: Verdana, 'Arial Black', メイリオ, sans-serif; */
}

button {
  font-size: 12px;
}

ul {
  /* list-style: none; */
  list-style-image: url(../img/work1.png);
}

p {
  margin: 0;
  margin: 20px 10px;
}